<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    
    <!--  CAROUSEL BOOTSTRAP  -->
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel"> <!--  clase slide al agregarle carouserl-fade cambia el efecto de transicion. Data ride=carousel = autoplay  -->
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> <!--  Los Slide son las lineas inferiores de cambio de banner  -->
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      </div>
      <div class="carousel-inner" data-bs-interval="3000">
          <div class="carousel-item active"> <!--  active es para determinar la primer imagen que mostrara  -->
            <a href=""><img src= "/images/carousel/banner1.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-md-block">
              <div class="servicioCarousel">CASAS CONTAINER</div>
              <div class="textoCarousel">
                <div>¡Hacé realidad la tuya!</div>
              </div>
              <div class="botonesCarousel">
                <button class=""><a href="">VER MÁS</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000"> <!--  interval determina el tiempo para pasar a la siguiente imagen  -->
            <a href=""><img src="/images/carousel/banner2.jpg" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner3.jpg" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner4.jpg" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner5.jpg" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner6.jpg" class="d-block w-100" alt="..."></a>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner7.jpg" class="d-block w-100" alt="..."></a>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
    
  </body>

  <footer>
    <%- include('partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>
