<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    
    <!--  CAROUSEL BOOTSTRAP  -->
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel"> <!--  clase slide al agregarle carouserl-fade cambia el efecto de transicion. Data ride=carousel = autoplay  -->
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> <!--  Los Slide son las lineas inferiores de cambio de banner  -->
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      </div>
      <div class="carousel-inner" data-bs-interval="3000">
          <div class="carousel-item active"> <!--  active es para determinar la primer imagen que mostrara  -->
            <a href=""><img src= "/images/carousel/banner1.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-md-block">
              <div class="servicioCarousel">CASAS CONTAINER</div>
              <div class="textoCarousel">
                <div>¡Hacé realidad la tuya!</div>
              </div>
              <div class="botonesCarousel">
                <button class=""><a href="">VER MÁS</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000"> <!--  interval determina el tiempo para pasar a la siguiente imagen  -->
            <a href=""><img src="/images/carousel/banner2.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-md-block">
              <div class="servicioCarousel">CASAS CONTAINER</div>
              <div class="textoCarousel">
                <div>¡Hacé realidad la tuya!</div>
              </div>
              <div class="botonesCarousel">
                <button class=""><a href="">VER MÁS</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner3.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-md-block">
              <div class="bannerNaranja">
                <div class="promoNaranja"><img src="/images/carousel/29-4-03.png"></div>
                <div class="imporSaleNaranja"><img src="/images/carousel/importainer-sale-gif.gif"></div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner4.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-md-block">
              <div class="servicioCarousel">BARES, FOOD-TRUCKS, ESTUDIOS, SALONES Y MUCHO MÁS CON CONTAINERS</div>
              <div class="textoCarousel">
                <div>¡Disfrutá tu inmueble a medida!</div>
              </div>
              <div class="botonesCarousel">
                <button class=""><a href="">VER MÁS</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner5.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-md-block">
              <div class="servicioCarousel">FRANQUICIAS IMPORTAINER</div>
              <div class="textoCarousel">
                <div>¡Beneficiate de nuestro sistema!</div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner6.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-md-block">
              <div class="servicioCarousel">OFICINAS CONTAINER</div>
              <div class="textoCarousel">
                <div>¡La solución perfecta para tu PyME o empresa grande!</div>
              </div>
              <div class="botonesCarousel">
                <button class=""><a href="">VER MÁS</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <a href=""><img src="/images/carousel/banner7.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-md-block">
              <div class="servicioCarousel">EXTERIORES CON CONTAINERS</div>
              <div class="textoCarousel">
                <div>¡Maeterializá la pileta, quincho, cochera y jardin de invierno que soñás!</div>
              </div>
              <div class="botonesCarousel">
                <button class=""><a href="">VER MÁS</a>
              </div>
            </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <!--  Cajas de containers -->
    <div class="cajaContainerHome">
      <div class="imagenContainerHome"><img src="/images/containersHome/casa-container-45-m2-classic-importainer-1.jpg"></div>
      <div class="detalleContainerHome">
        <div class="supHome">SUP: <i class="fa-solid fa-arrows-left-right-to-line"></i> 30m2</div>
        <div class="supHome">AMB: <i class="fa-solid fa-bed"></i> 3</div>
        <div class="supHome">BAÑO: <i class="fa-solid fa-shower"></i> 1</div>
      </div>
      <div class="casaHome">CASA CONTAINER 45 M2</div>
      <div class="casaHome">¡ENTREGA PROGRAMADA!</div>
      <div class="adhesionHome">Adhesión: $194.000,00</div>
      <div class="cuotasHome">
        <div class="tituloCuotasHome">CANTIDAD DE CUOTAS</div>
        <div><input type="checkbox">&nbsp 120 cuotas</div>
        <div><input type="checkbox">&nbsp 240 cuotas</div>
      </div>
      <div class="valoresCuotasHome">
        <p>Cuotas de</p><p class="montoCuotaHome">$22222</p>
        <p>Precio de Lista</p><p class="montoCuotaHome">55555</p>
        <p>Precio Promoción(contado)</p><p class="montoCuotaHome">$666666</p>
      </div>
      <div class="botonesContainerHome">
        <button class=""><a href="">VER MÁS</a>
        <button class=""><a href="">CONSULTAR</a>
      </div>
    </div>

    <!-- Acerca de importainer  -->
    <div class="">
      
    </div>


  </body>

  <footer>
    <%- include('partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>
