.bodyCreateProyecto{
    width: 80%;
    margin: 6.8% auto 1.5% auto;
    padding: 10px 50px 20px 50px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.bodyCreateProyecto label{
    font-weight: bold;
    padding-left: 1%;
    margin-top: 1%;
}
.columna1{
    width: 45%;
}
.columna2{
    width: 45%;
}
.botonCreate{
    text-align: center;
    margin-bottom: 3%
}