.createEntregas{
    width: 50%;
    margin: 6.8% auto 3% auto;
    padding: 10px 50px 20px 50px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    border-radius: 10px;
}
.createEntregas label{
    margin-top: 1.5%;
    padding-left: 1%;
    font-weight: bold;
}
.createEntregas input{
    width: 100%;
}
.botonEntregas{
    text-align: center;
    margin: 3% 0% 0% 0%;
}