body {
    color: black;
  }
  
  a {
    color: black;
  }
.bannerEntregaDetalle{
  border: red solid ;
  overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
}
.bannerEntregaDetalle img{
  width: 100%;
  object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
  height: 550px;
}
.cajaDetalleEntregas{
  width: 90%;
  margin: 2% auto 2% auto; 
  border: violet solid ;
}
.cajaDetalleEntregas p{
  font-size:20px
}
.tituloDetalleEntrega{
  font-size: 30px;
}
.videoEntregaDetalle{
  text-align: center;
}
.videoEntregaDetalle iframe{
  width: 100%;
  height: 500px
}
.textoDetalle{
  width: 80%;
  text-align: left;
  border: red solid;
  margin-left:auto;
  margin-right: auto;
}
.solicitaDetalle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: black solid;
  border-bottom: black solid;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 2% 2%;
  font-weight: bold;
}
.solicitaDetalle button{
  width: 20%;
  padding: 0.5%;
  font-size: 18px;
  border: none
}