.detalleProyectos{
    margin-top: 130px;
}
.proyectoNombreDetalle{
    text-align: center;
    font-size: 40px;
}
.proyectoCajaPadreDetalle{
    display: flex;
    border: black solid 1px;
    width: 90%;
    margin: 2% auto 4% auto;
}
.proyectoCajaHijo{
    border: red solid 1px;
    width: 100%;
    padding: 1%
}
.vistasProyecto{
    display: flex;
}
.vistasProyecto div{
    border: red solid 1px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 1%
}
.imagenesProyecto {
    border: yellow solid 3px;
}
.imagenesProyecto img{
    width: 100%;
}
.cajaCuotasDetalle{
    display: flex;
    border: blue solid 1px;
}
.cuotasProyecto{
    border: violet solid 1px;
}
.valorCuota{
    border: brown solid 1px;
    margin-left: 20%;
    text-align: center;
    font-size:20px;
    font-weight: bold;
}
.botonFinanciala{
    margin: 2% 0 2% 0;
    text-align: center;
}
.botonFinanciala button:hover{
    background-color:red;
    color: white;
}
.botonFinanciala button{
    width: 30%;
    padding: 0.5%;
    font-size: 18px;
    border: none;
    transition: 0.55s ease-in-out;
}
.fichaTitulo{
    margin: 2% 0% 1% 5%;
    font-size: 22px;
    font-weight: bold;
}
.solicitaDetalle button{
    transition: 0.55s ease-in-out;
}
.solicitaDetalle button:hover{
    background-color:red;
}
/* Caja padre de secciones  */
.w3Tabs{
    border: violet solid 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    display: flex;
}
/* Columna con secciones */
.w3-bar-block .w3-bar-item {
    border-bottom: gray solid 1px;
    padding: 4%;
    text-align: center;
    font-size: 18px;
    width: 350px; /* va a mantener la columna del mismo ancho indistinto de la info que tenga la seccion */
}
/* Info que trae de la seccion  */
.w3-container{ 
    color: white;
    background-color:black;
    width: 100%;
    border: blue solid 2px;
    padding: 2% 3% 2% 3%;
}
.infoSecciones{
    background-color:black;
    width: 100%;
}

.videoProyecto{
    width: 85%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.videoProyecto video{
    width: 100%;
}