a {
    text-decoration: none; /* le saca el subrayado a todos los hipervinculos de etiqueta a */
} 
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suma posteriormente. */
}
footer{
    background-color: black;
    width: 100%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Poppins";
}
.arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: red;
    color: white;
    position: relative;
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    transition: 0.55s ease-in-out;
    margin-left:auto;
    margin-right:auto;
}
.arriba:hover{
    background-color: #e4953b;
    color: black;
}
.cajaFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-left: 7%;
    font-size: 14px;
}
.logoFooter{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 13px;
}
.logoFooter img{
    padding-top: 5px;
    width: 100%;
}
.proyectosFooter{
    width: 30%;
    margin-left: 3%;
}
.seccionesFooter{
    width: 25%;
    font-weight: bold;
}
.basesCondicionesFooter{
    width: 25%;
}
.cajaFooter li{
    margin-bottom: 5%
}
.cajaFooter a{
    color: white
}
.cajaFooter li:hover{
    color: red;
    cursor: pointer;
}