a {
    text-decoration: none; /* le saca el subrayado a todos los hipervinculos de etiqueta a */
} 
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suma posteriormente. */
}
.navbar{
    padding: 0%;
    width: 100%;
    z-index: 999;
    font-family: "Poppins";
    display: block;
    background-color: white;
}
.comunicateHeader{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5%;
}
.buscadorHeader{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.navbar-brand{
    width: 40%;
}
.navbar-brand img{
    width: 100%;
    height: auto;
}
.busquedaHeader{
    display: flex;
    border: black solid 1px;
    width: 60%;
}
.busquedaHeader input{
    width: 100%;
    border: black solid 0.2px;
    padding-left: 3%;
}
.busquedaHeader i{
    border: black solid 0.2px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 2% 0 2%;
    cursor: pointer;
}
.container-fluid{
    margin-top: 0.5%;
    padding: 0%;
    background-color: black;
}
.SeccionesHeader{
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    list-style:none; /* quita punto de lista*/
    width: 75%;
    justify-content: space-around;
    font-size: 600;    /*NOSE EN QUE MEDIDAS ESTA, ESTO NO HACE NADA  */
}
.SeccionesHeader a{
    color: white;
    font-weight: bold;
    transition: 0.55s ease-in-out;
}
.SeccionesHeader a:hover{
    color: red;
}
button .navbar-toggler{
    color: red;
}
.offcanvas-body a{
    color: white;
}
.nav-link a{
    color: white;
}
.fa-instagram{
    color: rgb(252, 101, 126);
}
.fa-linkedin{
    color: #005182;
}
.fa-facebook{
    color: #2d5f9a
}
.fa-whatsapp{
    color: rgba(37,211,102,1) !important;
}
.fa-youtube{
    color: rgb(255, 0, 0);
}
.fa-envelope{
    color:white
}