a {
    text-decoration: none; /* le saca el subrayado a todos los hipervinculos de etiqueta a */
} 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    z-index: 999;
    top: 0;
}
.navbar{
    font-family: "Poppins";
    background-color: white;
    padding: 0;
}
.comunicateHeader{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5%;
}
.buscadorHeader{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.navbar-brand{
    width: 40%;
}
.navbar-brand img{
    width: 100%;
    height: auto;
}
.busquedaHeader{
    display: flex;
    border: black solid 1px;
    width: 60%;
}
.busquedaHeader input{
    width: 100%;
    border: black solid 0.2px;
    padding-left: 3%;
}
.busquedaHeader i{
    border: black solid 0.2px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 2% 0 2%;
    cursor: pointer;
}
.container-fluid{
    margin-top: 0.5%;
    padding: 0%;
    background-color: black;
    padding-top: 3px;
    padding-bottom:3px
}
.SeccionesHeader{
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    list-style:none;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.SeccionesHeader a{
    color: white;
    font-weight: bold;
    transition: 0.55s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
}
.SeccionesHeader a:hover{
    color: red;
}
.navbar-toggler{
    color: transparent;
    display: none;
    margin-left: auto;
}
.botonCerradoHeader { /* CRUZ DE CERRADO */
    color: white;
    background:transparent;
    padding: 1%;
    transition: 0.5s ease-in-out;
    border: none;
    font-size: x-large;
    font-weight: lighter;
    margin-right: 3%;
}
.botonCerradoHeader:hover{
    transform: rotate(-360deg)
}
.offcanvas.offcanvas-end {
    transition: 1s ease-in-out;
    width: 100%;
}
.offcanvas-body a{
    color: white;
}
.nav-link a{
    color: white;
}
.fa-instagram{
    color: rgb(252, 101, 126);
}
.fa-linkedin{
    color: #005182;
}
.fa-facebook{
    color: #2d5f9a
}
.fa-whatsapp{
    color: rgba(37,211,102,1) !important;
}
.fa-youtube{
    color: rgb(255, 0, 0);
}
.fa-envelope{
    color:white
}

/* Tablet */
@media (max-width:800px){ 
    .navbar-toggler{ 
        display: block;   /* Muestra el burguer menu */
        border: none;
    }
    .SeccionesHeader a{
        display: none;
    }
  }