body {
  color: black;
}

a {
  color: black;
}

.bodyIndex{
  margin-top:7%;
  font-family: "Poppins"
}

/* --- CAROUSEL bootstrap --- */
.d-block{
  height: 550px; /* alto de la imagen del carousel */
  object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
}
.carousel-indicators [data-bs-target]{ /* botones inferiores de desplazamiento */
  border-radius: 100%; /* vuelve el boton redondo */
  height:13px;
  width: 13px;
}
.carousel-control-next, .carousel-control-prev{
  bottom: 70px /* altura de los botones next y prev */
}
.carousel-caption{
  top: 25%; /* posiciona al medio de la imagen los textos */
  margin-left: auto;
  margin-right: auto;
  text-align: start; /* alinea a la izquierda el texto */
  padding-left:0%  /* centra la caja de textos dentro del carousel */
}
.textosCarousel{
  border: GREEN solid 3px;
  background: rgba(42, 49, 48, 0.8);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3% 3%;
}
.tituloCarousel{
  width: 100%;
  font-size: 40px;
  font-family: "Poppins";
  font-weight: bold;
  border: black solid;
  text-shadow: black 0.1em 0.1em 0.2em
}
.subtituloCarousel{
  font-size: 15px;
  font-weight: bold;
  border: black solid;
  text-shadow: black 0.1em 0.1em 0.2em
}
.botonCarousel a{
  color: white;
  font-weight: bold;
}
.botonCarousel button{
  background: red;
  border: black solid 1px;
  padding: 1%;
}
.w3-content{
  border: red solid 5px;
  max-width: 100%;
  position: relative; /* le doy relative para poder posicionar cosas dentro de la caja del carousel */
}
.cajaTextoCarousel{
  position: absolute; /* ubico la caja dentro del carousel con bottom y left */
  bottom:  35%;
  left: 15%;
  height: 250px;
  background: rgba(40, 53, 50, 0.8);
  width: 70%;
  text-align: center;
  border: black solid 4px;
  color: white;
}

/* --- SECCION CAJAS CONTAINERS --- */
.padreCajasContainersHome{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2% 6% 1% 6%;
}
.cajaContainerHome{
  width: 500px;
  display: flex;
  flex-direction: column;
  color: black;
  margin: 1%;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  font-size: 20px;
  border: black solid 0.5px;
}
.imagenContainerHome img{
  width: 100%;
}
.casaHome{
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 30px;
  margin: 1% 1%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.entregaHome{
  text-align: center;
  background-color: #D1D1D1;
  margin-bottom: 1.5%;
  padding: 1%;
}
.detalleContainerHome{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  color: black;
  width: 60%;
  text-align: center;
  font-size: 15px;
}
.detalleContainerHome div{
  width: 33%;
}
.detalleContainerHome img{
  width: 15px;
  height: 15px;
}
.cuotasHome{
  width: 100%;
  text-align: center;
  margin-top: 4%;
  
}
.form-check .form-check-input {
  float: none;
  border-color: black;
}
.form-check-input:checked {
  background-color: black;
}
.valoresCuotasHome{
  width: 90%;
  padding: 0.8%;
  margin: 1.5% auto 3% auto;
  display: flex;
  flex-direction: column;
  text-align: center
}
.valoresCuotasHome p{
  margin-bottom: 0%
}
.montoCuotaHome{
  text-align: center;
  font-weight: bold;
}
.botonesContainerHome{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.botonesContainerHome button{
  width:50%;
  padding: 0.3%;
  background: #D1D1D1;
  border: none;
  border-top: black solid 0.5px;
  height: 3em;
  font-weight: bold;
}
.botonesContainerHome a{
  color: black;
}
.masProyectosHome{
  width: 30%;
  margin: 0 auto 3% auto; 
}
.masProyectosHome button{
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: red;
  padding:2%;
  margin-top: 2%;
  width: 100%;
}

/* --- SECCION EXPERIENCIA --- */
.seccionExperienciaHome{
  width: 100%;
  border: RED solid 2px;
  text-align: center;
  background: url(/images/index/trama-fondo-01.png);
  background-size: cover;
}
.tituloExperiencia{
  font-size: 60px;
  font-weight: bold;
  margin: 2% 2%;
  margin-top: 4%;
  font-family: "Poppins";
}
.cajasExpercienciasHome{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 5%;
}
.cajaExperiencia{
  width: 290px;
  height: auto;
  border: RED solid 2px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 4%;
  padding: 1%
}
.experienciaImagen{
  height: 165px;
  border: red solid 2px;
}
.experienciaImagen img{
  height: 100%
}
.experienciaTitulo{
  width: 80%;
  background-color: black;
  color: white;
  padding: 0.5%;
  margin: 4% auto 7% auto;
  font-size: 20px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around /* centra en el eje Y */
}
.experienciaTexto{
  padding-left: 3%;
  padding-right: 3%;
}
.cajaPadreExperienciaImagenes{
  width: 100%;
  border:violet solid 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
}
.cajaImagenTextoHome{
  border: black solid 1px;
  margin-bottom: 4%;
  position: relative;
  border: blue solid 1px;
  width: 45%;
}
.imagenExperienciaHome{
  object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
  width: 100%;
  border: green solid 4px;
  width: 100%;
}
.imagenExperienciaHome img{
  height: 400px; /* alto de la imagen del carousel */
  object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
  width: 100%;
}
.cajaTextosExperienciaHome{
  position: absolute;
  border: black solid 2px;
  font-size: 20px;
  width: 80%;
  text-align: center;
  top: 80%;
  left: 10%;
}
.textoExperienciaHome{
  padding:3%;
  background-color: white;
}
.quieroSaberHomeExperiencia{
  width: 100%;
  background-color:#D1D1D1;
  border-top: black solid 2px;
  padding: 2% 0 2% 0;
}


/* --- SECCION ASESORARME --- */
.seccionAsesorarme{
  border: black 3px solid;
  width: 100%;
  padding: 5%;
  background: url(/images/index/trama-fondo-02.png);
  background-size: cover; /* expande imagen para que cubra todo el fondo */
}
.tituloAsesorarme{
  text-align: center;
  font-size:  60px;
  color: white;
  background-color: red;
  margin-top: 8%;
  margin-bottom: 7%;
  padding: 1%;
}

/* --- SECCION CAROUSEL DE TARJETAS CON JSQUERY SCRIPTS --- */
.carouselConJsQuery{
  border: black 3px solid;
  margin: 3%;
  padding: 1% 1% 7% 1%;
}
.hi-slide{
  position: relative;
  width: 754px;
  height:292px;
  margin:115px auto 0;
}
/* flechitas de desplazamiento */
.hi-slide .hi-next,
 .hi-slide .hi-prev{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(194, 169, 29, 0.604);
  color: black;
  transition: all 0.7s;
  font-size: 20px;
  font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
  opacity: 1;
  background-color: red;
}
.hi-slide .hi-prev{
  left: -70px;
}
/* el simbolo para ir hacia la izquierda */
.hi-slide .hi-prev::before{
  content: "<";
}
.hi-slide .hi-next{
  right: -70px;
}
.hi-slide .hi-next::before{
  content: ">";
}
.hi-slide > ul{
  list-style: none;
  position: relative;
  width: 754px;
  height: 292px;
  margin:0;
  padding: 0;
}
.hi-slide > ul > li{
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 147px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 3px solid violet;
  background-color: blue;
  cursor: pointer;
}
.hi-slide > ul > li > img{
  width:100%;
  height: 100%;
  background-position: center;
}

/* --- SECCION CAROUSEL DE TARJETAS 3D SIN FLECHA --- */

.carousel3D{
  border: black 3px solid;
  margin: 3%;
  padding: 1% 1% 7% 1%;
}
.bodyCarousel3D{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232533;
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Urbanist', sans-serif;
}
.container {

  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {

  position: relative;
  height: 500px;
  width: 430px;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.cards label {

  position: absolute;
  width: 430px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .card{

  position: relative;
  height: 100%;
  background-color: #323444;
  border-radius: 10px;
  padding: 30px 35px;
}

.card .image{

  display: flex;
  justify-content: space-between;
}

.card .image img{

  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  margin-top: 23px;
  width: 86%;
  height: 220px;
  object-fit: cover;
}

.card .image .dots{

  text-align: center;
}

.dots div{

  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.dots div:nth-child(1){

  background-color: var(--current-color1);
}

.dots div:nth-child(2){

  background-color: #5B85F9;
}

.dots div:nth-child(3){

  background-color: #000;
}

.card .infos{

  display: block;
  text-align: end;
  padding-top: 60px;
}

.infos span{

  display: block;
}

.infos .name{

  font-size: 30px;
  color: var(--current-color1);
  letter-spacing: 8px;
  margin-bottom: 20px;
  padding-left: 25%;
  transition: all .6s ease;
}

.infos .lorem{

  font-size: 15.5px;
  color: #ECEAED;
  letter-spacing: 3px;
}

.card .btn-contact{

  width: 100%;
  height: 60px;
  margin: 35px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
  transition: all .7s ease;
}

.card .socials{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.socials i{

  font-size: 25px;
  transition: all .7s ease;
  color: var(--current-color2);
}



#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}