.tituloEntregaList{
    margin-top: 7%; /* para separarlo del header */
    text-align: center;
    font-size: 30px
}
.cajaPadreEntrega{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:5%
}
.cajaEntregaList{
    width:550px; /* Debe estar en PX para que las cajas se desplazen hacia abajo al achicarse la resolucion */
    position: relative;
    margin-top:20px;
    cursor: pointer;
    text-transform:uppercase;
}
  .imagenEntregaList img{
    width: 100%;
}
.overlayEntregas{
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background: rgba(40, 53, 50, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    transition: 1s;
}
.overlayEntregas:hover{
    opacity: 1;
}