body {
    color: black;
  }
  
  a {
    color: black;
  }

/* --- SECCION CAJAS CONTAINERS --- */
.cajaContainerList{
    width:28%;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 2% auto 2% auto;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }
  .imagenContainerList img{
    width: 100%;
  }
  .detalleContainerList{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    color: black;
    border: black solid;
    width: 95%;
  }
  .detalleContainerList i{
    font-size: large;
  }
  .casaList{
    text-align: center;
  }
  .adhesionList{
    text-align: center;
    font-weight: bold;
    border-top: red solid;
    border-bottom: red solid;
    padding: 1%;
  }
  .cuotasList{
    width: 90%;
    background-color: hsla(0,0%,91%,.8);
    padding: 0.8%;
    margin: 3% auto 1.5% auto;
    font-size: 12px;
    font-weight: bold;
  }
  .valoresCuotasList{
    width: 90%;
    background-color: hsla(0,0%,91%,.8);
    padding: 0.8%;
    margin: 1.5% auto 3% auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .valoresCuotasList p{
    margin-bottom: 0%
  }
  .montoCuotaList{
    text-align: center;
  }
  .botonesContainerList{
    display: flex;
    justify-content: space-around;
    border: brown solid;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }
  .botonesContainerList button{
    width:30%;
    padding: 0.3%;
    background: black;
    height: 3em;
    font-weight: bold;
  }
  .botonesContainerList a{
    color: white;
  }

/* --- sitio PROYECTOS --- */
  .tituloProyectos{
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
  }

  .cajaProyectos{
    display: flex;
    flex-direction: row;
    width: 90%;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: red solid;
  }
  .cajaTextoProyectos{
    width: 50%;
    text-align: justify;
    padding: 1%;
  }
  .tituloContainerProyecto{
    font-size:x-large;
  }
  .cajaCarouselProyectos{
    width: 50%;
    border: black solid;
    overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
    height: 350px;
    
  }
  .carousel-item {
    transition: all 2000ms ease-out 0s; /* Velocidad del desplazamiento */
  }
  .cajaCarouselProyectos img{
    height: 350px;
  }
  .botonesProyecto{
    text-align: center;
  }
  .botonesProyecto button{
    width: 25%;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 0.5%;
  }
  .botonesProyecto button:hover{
    background-color: red;
  }
  .modelosProyectosCasas{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    padding: 3%;
    background-color: black;
    display: flex;
    justify-content: space-around;
  }
  .cajaModeloProyecto{
    background-color: white;
    width: 30%;
    padding: 1%;
    text-align: center;
  }
  .cajaModeloProyecto a{
    border: violet solid 2px
  }
  .tituloCajaModelo{
    font-size: 20px;
  }
