h1{
    margin-top: 130px;
    text-align: center;
    font-size: 30px;
}
.bodyRegister{
    width: 50%;
    margin: 2% auto 3% auto;
    padding: 10px 50px 3px 50px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    border-radius: 10px;
}
.bodyRegister label{
    margin-top: 1.5%;
    padding-left: 1%;
    font-weight: bold;
}
.bodyRegister input{
    width: 100%;
}
.botonRegister{
    text-align: center;
    margin: 3% 0% 0% 0%;
}
.tengoCuenta {
    text-align: center;
    margin-bottom: 1%;
}
.tengoCuenta a:hover{
    color: blue;
    font-weight: bold;
}