.bannerSistemaConstructivo{
    height: 600px; /* alto de la imagen del carousel */
    width: 100%;
    object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
}
.construccionContenedores{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: violet solid ;
}
.textoSoldador{
    width: 55%;
    padding: 5%;
    border: blue solid
}
.tituloConstruccion{
    font-size: 1.5em;
    color: black;
    font-family: Open Sans,sans-serif;
}
.textoConstruccion{
    color: black;
    font-family: Open Sans,sans-serif;
    text-align: justify;
    font-size: 1rem;
}
.contactanosSistema{
    font-weight: 700;
    width: 20em;
    height: 2em;
}
.soldador{
    width: 45%;
    border: red solid;
}
.soldador img{
    width: 100%;
    padding: 5%;
    overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
    object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
    height: 400px;
}
.ventajasSistema{
    border: red solid;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
}
.ventajasImagen{
    width: 50%;
    border: brown solid;
    padding: 3%;
}
.ventajasImagen img{
    width: 100%;
    object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
    height: 500px;
}
.ventajasTextos{
    border: violet solid;
    width: 50%;
    padding: 1% 3% 3% 3%;
}
.ventajasTitulo{
    font-size: 2em;
    font-weight: bold;
    border: green solid;
    text-align:justify;
    margin-left: 4%;
}
.ventajasTextosHijo li{
    display: flex;
    /*justify-content: space-between;*/
    text-align: justify;
    width: 100%;
    border: brown solid;
    margin-top: 4%;
}
.ventajasTextosHijo img{
    height: 4em;
    width: 4em;
}
.columnaVentajasTextos{
    margin-left: 6%;
    border: yellow solid;
    width: 100%;
    font-size: 1.1em;
}
.columnaVentajasTextos div{
    font-weight: bold;
}
.elegirnosPadre{
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}
.elegirnosTextos{
    width: 50%;
    border: RED solid;
    padding: 2%;
}
.elegirnosCajas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em;
    padding: 1em 3em 1em 3em;
    border: yellow solid;
    width: 50%;
    height: 80%;
    color: black;
}
.elegirnosCajaHijo div{
    font-weight: bold;
    font-size: 1.1em;
}
.elegirnosCajaHijo{
    border: black solid;
    box-sizing: border-box;
    padding: 0.5em;
    height: 100%;
}
.elegirnosCajaHijo img{
    height:4em;
    width: 4em;
}