<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('../partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    
    <div class="tituloProyectos">DESCUBRÍ NUESTROS PROYECTOS</div>

    <div class="cajaProyectos">
      <div class="cajaTextoProyectos">
        <p class="tituloContainerProyecto">CASAS CONTAINER</p>
        <p>Nuestras casas container son la solución perfecta para vos y tu familia. Son totalmente sustentables y capaces de garantizar la comodidad y seguridad que necesitás. Elegí entre las líneas Classic, Comfort y Premium; todas poseen aislación mediante lana de vidrio y están construidas con los mejores materiales de la industria. Nuestros modelos presentan tamaños de 15m² a 120m² y son altamente resistentes a cambios climáticos y sismos, además que pueden ser emplazados en superficies planas o con relieve sin inconvenientes. No te olvides que contamos con los mejores planes de financiación del mercado, diseño personalizable y la entrega es programada con sistema de llave en mano. ¡Sumate a las miles de familias que ya disfrutan de su propia casa container!</p>
      </div>
      <div class="cajaCarouselProyectos">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/carousel proyectos/casa-15m2-comfort-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/casa-30m2-premium-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/casa-60m2-container-classic-importainer.JPG" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </div>

    <div class="modelosProyectosCasas">
      <div class="cajaModeloProyecto"><a href="/proyectos/classic">
        <p class="tituloCajaModelo">CLASSIC</p>
        <p>Nuestra línea classic te ofrece  la oportunidad de adquirir tu casa container lista para habitar al mejor precio del mercado. <strong>Hacé click y descrubila.</strong></p>
      </a></div>
      <div class="cajaModeloProyecto"><a href="/proyectos/comfort">
        <p class="tituloCajaModelo">COMFORT</p>
        <p>Nuestra línea comfort te ofrece la oportunidad de adquirir tu casa container lista para habitar, y con terminaciones de calidad. <strong>Hacé click y descrubila.</strong></p>
      </a></div>
      <div class="cajaModeloProyecto"><a href="/proyectos/premium">
        <p class="tituloCajaModelo">PREMIUM</p>
        <p>Nuestra línea premium cuenta con diseños exclusivos, personalizados, con revestimientos en placa cementicia, pisos en porcelanato y mobiliario premium. <strong>Hacé click y descrubila.</strong></p>
      </a></div>
    </div>

    <div class="cajaProyectos">
      <div class="cajaCarouselProyectos">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/carousel proyectos/duplex-45m2-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/duplex-60m2-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/duplex-75m2-importainer.JPG" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="cajaTextoProyectos">
        <p class="tituloContainerProyecto">DÚPLEX CONTAINER</p>
        <p>Nuestros dúplex container o casas container de dos pisos son tu alternativa ideal para que vivas con comodidad y seguridad, ahorrando espacio y dinero. Al contar con un sistema constructivo de dos plantas, es el modelo perfecto para familias que necesitan más de una habitación y cuentan con un terreno limitado. Cada dúplex posee aislación mediante lana de vidrio, instalación de agua y electricidad, y pueden ser emplazadas en superficies planas o con relieve, soportando cambios climáticos y sismos. Obtené tu dúplex container de 30m² a 120m² en Importainer S.A. con los mejores planes de financiación del mercado, diseño personalizado, entrega programada y sistema llave en mano. Sólo en Importainer S.A. podrás acceder a tu casa container de calidad.</p>
        <div class="botonesProyecto">
          <a href="/proyectos/duplex"><button class="">VER TODOS</button></a>
          <a href="https://wa.me/5491122763820?text=" target="_blank"><button>CONSULTAR</button></a>
        </div>
      </div>
    </div>

    <div class="cajaProyectos">
      <div class="cajaTextoProyectos">
        <p class="tituloContainerProyecto">COMBO</p>
        <p>Descubrí la gran variedad de combos que tenemos para vos y tu familia. Casas, dúplex, piletas, quinchos, garages y oficinas; un container puede ser todo eso ¡y más! Elegí el inmueble que necesites y añadilo a tu combo. Todas estas variantes poseen aislación mediante lana de vidrio, instalación de agua y electricidad, y pueden ser emplazadas en superficies planas o con relieve, soportando así cambios climáticos y sismos. Obtené tu combo container preferido en Importainer S.A. con los mejores planes de financiación del mercado, diseño personalizado, entrega programada y sistema llave en mano. ¡Sumate a las miles de familias que ya disfrutan de su casa container en combo!</p>
        <div class="botonesProyecto">
          <a href="/proyectos/combo"><button>VER TODOS</button></a>
          <a href="https://wa.me/5491122763820?text=" target="_blank"><button>CONSULTAR</button></a>
        </div>
      </div>
      <div class="cajaCarouselProyectos">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/carousel proyectos/combo-casa-30m2-quincho-15m2-container-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/combo-casa-90m2-quincho-15m2-pileta-15m2-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/combo-duplex-60m2-garage-30m2-importainer.JPG" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cajaProyectos">
      <div class="cajaCarouselProyectos">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/carousel proyectos/garage-30m2-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/jardin-invierno-30m2-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/pileta-60m2-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/quincho-15m2-importainer.JPG" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="cajaTextoProyectos">
        <p class="tituloContainerProyecto">EXTERIORES DE ENSUEÑO</p>
        <p>Tu pileta container, quincho container, garage container y jardín de invierno container están en Importainer S.A. y son garantía de calidad, comodidad, diversión, seguridad y ahorro de tiempo, dinero y esfuerzo. Cada uno posee aislación con lana de vidrio y es trabajado con los mejores materiales para que resistan cambios climáticos o sismos. Adquirí tu pileta container, quincho container, garaje container y jardín de invierno container con los mejores planes de financiación, diseño personalizado, instalaciones de agua y electricidad, entrega programada y llave en mano. ¡Sumate a las miles de familias que ya forman parte de Importainer S.A.!</p>
        <div class="botonesProyecto">
          <a href="/proyectos/exteriores"><button>VER TODOS</button></a>
          <a href="https://wa.me/5491122763820?text=" target="_blank"><button>CONSULTAR</button></a>
        </div>
      </div>
    </div>

    <div class="cajaProyectos">
      <div class="cajaTextoProyectos">
        <p class="tituloContainerProyecto">EMPRENDIMIENTOS</p>
        <p>Bar, food truck, salón, galería; un container puede ser todo eso ¡y más! Elegí el diseño que quieras y comenzá tu emprendimiento. Todos los inmuebles container pueden ser de 15m² a 120m² y pueden presentar una, dos, o más plantas. Además, poseen instalación de agua, electricidad, y podés elegir la aislación y el revestimiento que desees. Contamos con los mejores planes de financiación, diseño totalmente personalizado, entrega programada y sistema llave en mano. ¿Estás buscando algo diferente? ¡Importainer S.A. es la respuesta!</p>
        <div class="botonesProyecto">
          <a href="/proyectos/emprendimientos"><button>VER TODOS</button></a>
          <a href="https://wa.me/5491122763820?text=" target="_blank"><button>CONSULTAR</button></a>
        </div>
      </div>
      <div class="cajaCarouselProyectos">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/carousel proyectos/local-comercial-60m2-emprendimiento-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/foodtruck-30m2-emprendimiento-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/consultorio-15m2-emprendimiento-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/bicicleteria-container-emprendimiento-importainer.JPG" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cajaProyectos">
      <div class="cajaCarouselProyectos">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/carousel proyectos/oficina-60m2-emprendimiento-importainer.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/oficina-90m2-emprendimiento-importainer.JPG" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="cajaTextoProyectos">
        <p class="tituloContainerProyecto">OFICINAS DE CONTAINERS</p>
        <p>Si sos una PyME o gran empresa y te estás expandiendo o buscando oficinas, estás en el lugar ideal. Adquirí tu oficina container al tamaño deseado, puede ser de 15m² a 120m² que podes presentar en una, dos, o más plantas; cada módulo posee aislación con lana de vidrio y es trabajado con los mejores materiales para que resistan sismos y diferentes cambios climáticos. Además, el diseño es totalmente personalizado y la instalación de agua y electricidad está incluida. Accedé a tu oficina container con los mejores planes de financiación del mercado, entrega programada y sistema llave en mano. ¡Hacé crecer tu empresa con Importainer S.A!</p>
        <div class="botonesProyecto">
          <a href="/proyectos/oficinas"><button>VER TODOS</button></a>
          <a href="https://wa.me/5491122763820?text=" target="_blank"><button>CONSULTAR</button></a>
        </div>
      </div>
    </div>

    <div class="cajaProyectos">
      <div class="cajaTextoProyectos">
        <p class="tituloContainerProyecto">CASA CAMPO</p>
        <p>Si tenés terreno y querés construir la casa de campo que tanto soñás, descubrí nuestra exclusiva casa con pileta. Este diseño posee aislación mediante lana de vidrio, instalación de agua y electricidad, y puede ser instalada en superficies planas o con relieve, soportando cambios climáticos y sismos. Obtené tu casa de campo hecha con contenedores en Importainer S.A y disfrutá de nuestros beneficios: plan de financiación, diseño personalizado, sistema llave en mano y entrega programada. ¡Hacé realidad tu sueño en Importainer S.A!</p>
        <div class="botonesProyecto">
          <a href="/proyectos/casacampo"><button>VER TODOS</button></a>
          <a href="https://wa.me/5491122763820?text=" target="_blank"><button>CONSULTAR</button></a>
        </div>
      </div>
      <div class="cajaCarouselProyectos">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/carousel proyectos/casa-container-45-m2-pileta-15-m2-classic-importainer-1.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cajaProyectos">
      <div class="cajaCarouselProyectos">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/carousel proyectos/casa-tiny-15-m2-classic-importainer-1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/casa-tiny-25-m2-classic-importainer-1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/casa-tiny-30-m2-classic-importainer-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/carousel proyectos/casa-tiny-30-m2-classic-importainer-3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="cajaTextoProyectos">
        <p class="tituloContainerProyecto">TINY HOUSE</p>
        <p>Si tu filosofía de vida es que menos es más y querés vivir la experiencia de habitar una ecocasa modular o casa container sustentable y minimalista, nuestras tiny house son para vos. Descubrí nuestra línea económica y disfrutá los beneficios que sólo en Importainer S.A encontrás: plan de financiación, pago en cuotas, llave en mano y entrega programada sin anticipo. ¡Sumate a las miles de familias que ya forman parte de Importainer S.A!</p>
        <div class="botonesProyecto">
          <a href="/proyectos/casatiny"><button>VER TODOS</button></a>
          <a href="https://wa.me/5491122763820?text=" target="_blank"><button>CONSULTAR</button></a>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
   
  </body>

  <footer>
    <%- include('../partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>