<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>

  <header>
    <%- include('partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body>
    
    <div class="contactoPadre">
        <div class="contactoCampos">
            <div class="tituloContacto">CONTACTÁ CON IMPORTAINER S.A.</div>
            <p>Somos la empresa constructora con containers #1 de Argentina con la más amplia variedad de proyectos; casas container, piletas container, quinchos container, oficinas container y mucho más al mejor precio del mercado.</p>
            <div class="tituloContacto">¡ESCRIBINOS Y PEDÍ TU PRESUPUESTO!</div>
            <p>Recuerda que los campos con * son obligatorios para que puedas recibir asesoramiento.</p>
            <div class="formularioContacto">
                <form action="https://formsubmit.co/elmaildeimportainer@gmail.com" method="post"> <!-- msj al correo electrónico -->
                    <input type="text" placeholder="Nombre*" name="nombre" required>
                    <input type="text" placeholder="Teléfono*" name="telefono" required>
                    <input type="text" placeholder="E-mail" name="email" required>
                    <textarea name="mensaje" cols="30" rows="5" placeholder="¡Dejá tu mensaje!" name="mensaje" required></textarea>
                    <button>Enviar <i class="fa-solid fa-paper-plane"></i>
                        <span class="overlay"></span>
                    </button> 
                </form>
                <div><input type="checkbox" name="recordarUsuario" required> Acepto formar parte de la base de datos de IMPORTAINER</div>
            </div>
        </div>

        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8101076174785!2d-58.3783926!3d-34.60896299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad19e4254d7%3A0xc9a88525add98046!2sAv.%20de%20Mayo%20844%2C%20C1086%20CABA!5e0!3m2!1ses!2sar!4v1664898196116!5m2!1ses!2sar" width="90%" height="550" style="border: 1px black solid;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="textosContacto">
        <div class="tituloContacto">ATENCIÓN AL CLIENTE</div>
        <ul>
            <li>Teléfono: +54 9 11 6543-7037</li>
            <li>Teléfono: +54 9 11 5937-8945</li>
        </ul>
        <div class="tituloContacto">SUCURSALES</div>
        <ul>
            <li>Av. Mayo 844 | CABA</li>
            <li>Boulevard Evita 75, Moreno | GBA</li>
            <li>Claudio Maria Joly 2570, Moreno | GBA</li>
            <li>Colectora Oeste Ramal Pilar 2841, Tortuguitas | GBA</li>
            <li>Av 44 949 piso 16 | La Plata</li>
            <li>Moreno 618 (Esquina Frey) | Bariloche</li>
        </ul>
        <div class="tituloContacto">SHOWROOMS</div>
        <ul>
            <li>Ramal Pilar Km 36.5 | Tortugas Open Mall</li>
            <li>Gaona 13601, Francisco Alvarez | Moreno</li>
        </ul>
    </div>

  </body>

  <footer>
    <%- include('partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>