<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>  <!--  Incluye el HEAD  -->
  </head>


  <header>
    <%- include('partials/header.ejs') %>  <!--  Incluye el HEADER  -->
  </header>

  <body class="bobySistemasConstructivos">
    
    <img src="/images/sistemaConstructivo/banner-sistema-constructivo-importainer.jpg" class="bannerSistemaConstructivo">
   
    <div class="construccionContenedores">
        <div class="textoSoldador">
        <p class="tituloConstruccion">¿CONSTRUCCIÓN CON CONTENEDORES?</p>
        <br>
        <p class="textoConstruccion">La construcción con contenedores es tendencia por su arquitectura modular completamente sustentable, y rapidez constructiva. La optimización de recursos en la utilización de materiales, maquinaria, y mano de obra en general, hace de esta una alternativa muy atractiva para aquellas personas que cuentan con un terreno y buscan una solución habitacional más económica y cómoda.</p>
        <br>
        <a href="https://wa.me/5491122763820?text=" target="_blank"><button class="contactanosSistema">CONTACTANOS</button></a>
      </div>
      <div class="soldador">
        <img src="/images/sistemaConstructivo/ventajas01.jpg">
      </div>
    </div>

    <div class="ventajasSistema">
      <div class="ventajasImagen">
        <img src="/images/sistemaConstructivo/ventajas02.jpg">
      </div>

      <div class="ventajasTextos">
        <div class="ventajasTitulo">VENTAJAS</div>
        
        <div class="ventajasTextosHijo">
          <ul>
            <li>
              <img src="/images/sistemaConstructivo/RAPIDEZ CONSTRUCTIVA.png">
              <div class="columnaVentajasTextos">
                <div>RAPIDEZ CONSTRUCTIVA</div>
                <p>Construcción 50% más rápida que una obra tradicional.</p>
              </div>
            </li>
            <li>
              <img src="/images/sistemaConstructivo/COSTO 3.png">
              <div class="columnaVentajasTextos">
                <div>RENTABILIDAD EN COSTOS</div>
                <p>Coste inferior a una construcción tradicional.</p>
              </div>
            </li>
            <li>
              <img src="/images/sistemaConstructivo/PERSONALIZADO..png">
              <div class="columnaVentajasTextos">
                <div>SISTEMA MODULAR TRANSPORTABLE</div>
                <p>Posibilidad de mover tu proyecto e instalarlo en distintas locaciones.</p>
              </div>
            </li>
            <li>
              <img src="/images/sistemaConstructivo/PERSONALIZADO 2.png">
              <div class="columnaVentajasTextos">
                <div>DISEÑO PERSONALIZADO E ILIMITADO</div>
                <p>Oportunidad de diseñar y ampliar tu proyecto las veces que quieras por medio de la unión de dos o más contenedores.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="elegirnosPadre">
      <div class="elegirnosTextos">
        <div class="tituloConstruccion">¿POR QUE ELEGIRNOS?</div>
        <p class="textoConstruccion">En importainer contamos con más de 10 años de experiencia en el rubro de la construcción a base de contenedores marítimos. Trabajamos con los mejores componentes del mercado, por lo que garantizamos una alta durabilidad en cada uno de nuestros proyectos. Todos nuestros containers están acondicionados con Lana de Vidrio y Aluminio para proporcionar una excelente y óptima aislación termo-acústica que evite altas y bajas temperaturas y/o ruidos no deseados dentro del módulo. Además, fabricamos desde viviendas hasta piletas, locales, quinchos, bares y mucho más proyectos por medio del reciclado de contenedores de 20 y 40 pies disponibles para ser transformados en espacios completamente habitables.</p>
        <br>
        <a href="/contacto" target="_blank"><button class="contactanosSistema">SOLICITAR PRESUPUESTO</button></a>
      </div>
      <div class="elegirnosCajas">
        <div class="elegirnosCajaHijo">
          <div><img src="/images/sistemaConstructivo/financiación.png"></div>
          <div>FINANCIACIÓN EN PESOS</div>
          <p>Posibilidad de empezar a construir tu obra completamente financiada por nosotros.</p>
        </div>
        <div class="elegirnosCajaHijo">
          <div><img src="/images/sistemaConstructivo/icons8-cash-64.png"></div>
          <div>PAGO EN CUOTAS</div>
          <p>Accedé a nuestros planes de pago de hasta 240 cuotas.</p>
        </div>
        <div class="elegirnosCajaHijo">
          <div><img src="/images/sistemaConstructivo/icons8-home-64.png"></div>
          <div>SISTEMA LLAVE EN MANO</div>
          <p>Entregamos tu proyecto listo para empezar a disfrutarlo.</p>
        </div>
        <div class="elegirnosCajaHijo">
          <div><img src="/images/sistemaConstructivo/icons8-container-truck-50.png"></div>
          <div>TRASLADO E INSTALACIÓN</div>
          <p>Transportamos y ensamblamos en tu terreno</p>
        </div>
      </div>
    </div>

  </body>

  <footer>
    <%- include('partials/footer.ejs') %>  <!--  Incluye el FOOTER  -->
  </footer>

</html>