<footer>
    <a href="#" class="arriba">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="redes">
        <a href="https://www.facebook.com/ImportainerEmpresaSA/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/importainer_sa/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.me/5491122763820?text=" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.linkedin.com/company/importainer-s-a/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.youtube.com/c/ImportainerSA" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="mailto:importainerr@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    </div>
</footer>