<footer>
    <a href="#" class="arriba">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    
    <div class="cajaFooter">
        <div class="logoFooter">
            <div><img src="/images/logo-importainer-blanco-01.png"></div>
            <div><i class="fa-regular fa-copyright"></i> 2023 IMPORTAINER S.A.</div>
        </div>
        <div class="proyectosFooter">
            <ul type="none">
                <br>
                <li><strong>TIENDA DE INMUEBLES CONTAINER</strong></li>
                <li>CASAS CONTAINER</li>
                <a href="/proyectos/categorias/duplex"><li>DUPLEX CONTAINER</li></a>
                <li>PILETAS CONTAINER</li>
                <li>QUINCHOS CONTAINER</li>
                <li>GARAGES CONTAINER</li>
                <a href="/proyectos/categorias/exteriores"><li>JARDINES DE INVIERNO CONTAINER</li></a>
                <a href="/proyectos/categorias/oficinas"><li>OFICINAS CONTAINER</li></a>
                <a href="/proyectos/categorias/emprendimientos"><li>BARES CONTAINER</li></a>
                <li>LOCALES COMERCIALES CONTAINER</li>
                <li>PEDÍ TU INMUEBLE A MEDIDA</li>
            </ul>
        </div>
        <div class="seccionesFooter">
            <ul type="none">
                <br>
                <li>DESCUENTO</li>
                <a href="/entregas/list"><li>ENTREGAS</li></a>
                <a href="/sistemaConstructivo"><li>SISTEMA CONSTRUCTIVO</li></a>
                <li>SOBRE IMPORTAINER</li>
                <li>BLOG</li>
                <li>PREGUNTAS FRECUENTES</li>
                <a href="/contacto"><li>CONTACTOS</li></a>
            </ul>
        </div>
        <div class="basesCondicionesFooter">
            <ul type="none">
                <br>
                <li><strong>BASES Y CONDICIONES</strong></li>
            </ul>
        </div>
    </div>
</footer>
