<head>

    <meta charset="utf-8">  <!-- Reconoce diferentes tipos de letras, idiomas y caracteres-->
    <meta name="viewport"content="width=device-width">  <!-- Es para que el sitio sea responsive (se adapte a diferentes dispositivos) -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> <!-- Fuente Poppins -->

    <title>Importainer</title> <!-- Titulo para la pestaña del navegador -->
    <link rel="shortcut icon" href="/images/Icono transparente.png"> <!-- Etiqueta para mostrar el icono en la pestaña del navegador -->

     <!-- Vinculacion con Bootstrap  y w3schools -->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Vinculacion con hojas de estilos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/Index.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/header.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/footer.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/sistemaConstructivo.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/contacto.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/proyectosCategorias.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/createProyecto.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/detalleEntrega.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/createEntrega.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/listEntrega.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/detalleProyecto.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/register.css' type='text/css'> 
    <link rel='stylesheet' href='/stylesheets/login.css' type='text/css'> 

</head>