<header>

  <nav class="navbar navbar-violet bg fixed-top">
    <div class="comunicateHeader">COMUNICATE CON NUESTROS ASESORES +54 9 11 0000-0000</div>
    
    <div class="buscadorHeader">
      <a class="navbar-brand" href="/"><img src="../../images/logoHeader.png" class="img-fluid"></a>
      <div class="busquedaHeader">
        <input type="text" name="search"> <i class="fa-solid fa-magnifying-glass"></i>
      </div>  
    </div>

    <div class="container-fluid">
      <div class="SeccionesHeader">
        <li class="enlaceHeader"><a href="/">HOME</a></li>
        <li class="enlaceHeader"><a href="">DESCUENTOS</a></li>
        <li class="enlaceHeader"><a href="/proyectos/categorias">TIENDA</a></li>
        <li class="enlaceHeader"><a href="/entregas/list">ENTREGAS</a></li>
        <li class="enlaceHeader"><a href="/sistemaconstructivo">SISTEMA CONSTRUCTIVO</a></li>
        <li class="enlaceHeader"><a href="">SOBRE IMPORTAINER</a></li>
        <li class="enlaceHeader"><a href="">BLOG</a></li>
        <li class="enlaceHeader"><a href="">PREGUNTAS FRECUENTES</a></li>
        <li class="enlaceHeader"><a href="/contacto">CONTACTO</a></li>
      </div>

      <!--  Header Bootstrap Barra de navegacion lateral  -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">IMPORTAINER S.A.</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="/">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/proyectos/categorias">PROYECTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sistemaConstructivo">SISTEMA CONSTRUCTIVO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/entregas/list">ENTREGAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto">CONTACTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuario/login">INGRESAR</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                NUESTRAS REDES
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-brands fa-linkedin"></i> Linkedin</a></li>
                <li><a class="dropdown-item" href="#"><i class="fa-brands fa-youtube"></i> Youtube</a></li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wa.me/5491122763820?text=" target="_blank"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:importainerr@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i> E-mail</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
    
</header>